<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl as vm">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Taller de AngularJS - UCAB Guayana</a>
    </div>

    <ul class="nav navbar-nav navbar-right" ng-show="vm.user.email">
      <li><a ng-href="#/account">{{ vm.user.username }}</a></li>
      <li><a href="#" ng-click="vm.logout()">Log out</a></li>
    </ul>

    <form class="navbar-form navbar-right" ng-submit="vm.login()" ng-hide="vm.user.email">
      <div class="form-group">
        <input type="text" placeholder="Correo" class="form-control" ng-model="vm.credentials.username">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Contraseña" class="form-control" ng-model="vm.credentials.password">
      </div>
      <button type="submit" class="btn btn-success">Log in</button>
    </form>

  </div>
</nav>
